body.dimmed #app {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

a {
  cursor: pointer;
}

.header {
  font-family: Nunito, Lato, sans-serif !important;
  font-weight: 600 !important;
}

.header .sub.header {
  font-weight: 200 !important;
}

.ui.small.form {
  margin: 0 auto;
  width: 90%;
  max-width: 450px;
}

.field > label {
  font-family: 'Montserrat', sans-serif;
  font-size: 10.5px !important;
  letter-spacing: 0.06em !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  line-height: 20px;
}

.field > label > small {
  font-size: 0.75em;
  opacity: 0.7;
}

.field > label > small::before {
  content: '(';
}

.field > label > small::after {
  content: ')';
}

input[readonly] {
  opacity: 0.45;
}

.field + .field,
.fields + .field,
.field + .fields,
.fields + .fields,
.fields + .ui.button,
.field + .ui.button {
  margin-top: 20px !important;
}

.fields > .field {
  margin-top: 0 !important;
}

.ui.button:not(.dropdown) {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.06em !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
}

html body {
  min-height: 100vh;
  background: #ebeff2;
}

html body header#header {
  height: 100px;
  width: 100%;
  background: #1d1e2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

html body header#header #navigation {
  width: 100%;
  max-width: 1127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header#header #navigation a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #919999;
  -webkit-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
  min-width: 75px;
  padding: 15px 5px;
  border-radius: 3px;
  position: relative;
  text-decoration: none !important;
  outline: none;
}

html body header#header #navigation a > i.icon {
  display: block;
  font-size: 20px;
  margin: 0 0 5px;
}

html body header#header #navigation a > span {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html body header#header #navigation a > .ui.label {
  position: absolute;
  top: 5px;
  right: 10px;
}

html body header#header #navigation a[data-selected],
html body header#header #navigation a:hover {
  color: #ffffff;
}

html body header#header #navigation a:first-child {
  margin-left: 0;
}

html body header#header #navigation a:last-child {
  margin-right: 0;
}

html body footer#footer {
  width: 100%;
  background: #27283b;
  padding: 30px 40px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body footer#footer p.copyright {
  color: #d7cdcc;
  font-weight: 300;
  font-size: 13px;
  display: block;
  text-align: center;
  line-height: 1.7;
  margin: 0;
}

html body footer#footer p.copyright > span {
  color: #ff5a5f;
}

html body footer#footer p.copyright > a {
  color: #d7cdcc !important;
}

html body .empty.list {
  display: block;
  margin: 60px 0;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

html body [data-item-list] thead th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body [data-item-list] tbody > tr {
  -webkit-transition: background 100ms linear 0s;
  transition: background 100ms linear 0s;
}

html body [data-item-list] tbody > tr.selected {
  background: #fff7ed;
}

html body [data-item-list] tbody > tr:hover {
  background: #f1fffa;
}

html body [data-item-list] tbody > tr td.title small {
  display: block;
  color: rgba(0, 0, 0, 0.54);
}

html body [data-item-list] tbody > tr td.title small span {
  color: rgba(0, 0, 0, 0.87);
}

html body section#main {
  min-height: calc(100vh - 105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

html body header#header + section#main {
  min-height: calc(100vh - 205px);
}

html body .main.ui.container {
  background: #ffffff;
  padding: 30px 15px;
}

html body div.content.with.background {
  background: #ffffff;
  padding: 30px 15px;
  border-radius: 3px;
}

html body div.content.with.background:not(:first-child) {
  margin-top: 30px;
}

html body.auth.login.page section#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body.auth.login.page section#main .login.form {
  width: 90%;
  max-width: 350px;
  padding: 30px;
  background: #ffffff;
  border-radius: 4px;
}

html#public body.dashboard.page .ui.statistics {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html#public body.dashboard.page .ui.statistics .ui.statistic {
  min-width: 220px;
}

html#admin body.dashboard.page .ui.statistics {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html#admin body.dashboard.page .ui.statistics .ui.statistic {
  min-width: 220px;
}

